 @import url('https://fonts.cdnfonts.com/css/sf-pro-display');

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'SF Pro Display', sans-serif;
 }

 :root {
   --background-color: #000000;
   --primary-color: #FFFFFF;
   --secondary-color: #3797EF;
 }

 /*For Signup Page*/




 body {
   background-color: var(--background-color);
   overflow: hidden;
 }

 main {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 20px;
   height: 90vh;
 }

 main img {
   width: 200px;
 }

 .btn {
   background-color: var(--secondary-color);
   width: 80%;
   text-align: center;
   font-weight: 500;
   border: none;
   border-radius: 5px;
   color: white;
   padding: 10px;
   text-decoration: none;
   font-size: 1.2em;
 }

 .sign-up {
   margin-left: 2px;
   color: var(--primary-color);
   font-weight: 500;
   text-decoration: none;
 }

 main p {
   color: #969696;
 }

 /*For Signup Page*/


 form input {
   padding: 10px 16px;
   border: none;
   font-size: 1.2em;
   color: var(--primary-color);
   width: 280px;
   background-color: #121212;
 }

 .form-group {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
   gap: 20px;
 }

 .password-container {
   position: relative;
   display: flex;
   align-items: center;
 }

 .fa-eye {
   position: absolute;
   right: 5%;
   color: var(--primary-color);
 }

 .alert-message {
   color: red;
 }

 .hide {
   display: none;
 }